@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbf6f0;
  --foreground: #221D10;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fbf6f0;
    --foreground: #221D10;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}